table {
    width: 600px;
    border: 1px solid black;
    border-collapse: collapse;

}
td {
    border: 1px solid black;
    padding: 2.5px;
    text-align: center;
}
th {
    border: 1px solid black;
    padding: 1px;
    }
tfoot {
    text-align: center;
}
header{

    position:relative;
    margin: 20px auto;
    widows: 950px;
    height:120px;
    background: rgb(192, 192, 192);
    border: 2px solid black;
}


h3{
    font-size: 28px;
    height:60px;
    margin: 20px auto;
}


main{
    padding: 20px;
    margin: 20px;

}

#titulo{

    padding-top: 30px;
    padding-left: 500px;
    font-size: 28px;
    color: black;
}

#reporte1{

    border: 1px solid gray;
    background: rgb(230, 229, 222);
    padding-right: 500px;
}

#tablita{

    margin: 10px 120px;
   
}

body{

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 20;
    overflow: hidden;
    background-color: rgb(230, 229, 222);
}

li {
    float: left;
}

.nav_button_active {
    display: block;
    padding: 10px;
    background-color: rgb(230, 229, 222);
}

li a:hover {
    background-color: rgb(141, 199, 223);
  }

.nav_button{

    display: block;
    padding: 10px;
    background-color: rgb(230, 229, 222);
}

#separador_navegador{

    padding-left: 30px;
    padding-right: 30px;
}

#construccion{

    font-size: 28px;
    margin: 150px 300px;

}

.row{
    padding-right: 400px;
    padding-left: 30px;
}

.form-group{

    padding-right: 400px;
    padding-left: 30px;

}

.form-check{

    padding-right: 300px;
    padding-left: 320px;

}


.form-check-label{

    padding-right: 30px;
    padding-left: 0px;

}

.form-check-input{

    padding-right: 30px;
    padding-left: 600px;

}

.btn-primary{

    padding-right: 40px;
    padding-left: 40px;

}

#boton_sumit{

    padding-right: 300px;
    padding-left: 300px;

}

/*
================ Registro ======================
*/

#aviso{

    padding-left: 30px;
    padding-right: 800px;

}

/*
================ BOTON DATOS HISTORICOS y ACERTIJO ======================
*/


#ul_boton{

    list-style-type: none;
    margin: 0;
    padding: 40;
    overflow: hidden;
    background-color: rgb(230, 229, 222);
}
.li_botones {

    padding-bottom: 10px;
    padding-top: 10px;
    float: left;

}

#boton_datos{

    display: block;
    padding: 0px;
    background-color: rgb(230, 229, 222);
    padding-left: 0px;

}

#caja_boton_acertijo{

    padding-left: 30px;
    padding-right: 910px;

}

#boton_acertijo{

    display: block;
    padding: 0px;
    background-color: rgb(230, 229, 222);
    padding-left: 20px;

}


#acertijo_pregunta{

    padding-left: 300px;

}

#acertijo_respuesta{

    padding-left: 300px;


}

#acertijo_muestra_resultado{

    padding-left: 300px;


}

#acertijo_boton{

    padding-left: 300px;

}

/*
================ LATEX ======================
*/

.latex{

    padding-left: 420px;

}

.latex_text{

    font-size: 18px;
    padding-left: 160px;

}
.latex_paragraf{

    padding-left: 90px;
}

.imagen_datos_historicos{

    padding-left: 90px;

}